// Glyph font
@font-face {
  font-family: "winjs-symbols";
  src: url("#{$icon-font-path}/winjs-symbols.eot");
  src: url("#{$icon-font-path}/winjs-symbols.eot#iefix") format("embedded-opentype"),
       url("#{$icon-font-path}/winjs-symbols.ttf") format("truetype");
}

@font-face {
  font-family: "Selawik";
  src: url("#{$font-path}/selawk.eot");
  src: url("#{$font-path}/selawk.eot#iefix") format("embedded-opentype"),
       url("#{$font-path}/selawk.ttf") format("truetype");
}

@font-face {
  font-family: "Selawik Light";
  src: url("#{$font-path}/selawkl.eot");
  src: url("#{$font-path}/selawkl.eot#iefix") format("embedded-opentype"),
       url("#{$font-path}/selawkl.ttf") format("truetype");
}

@include generate-type-class(h, 2, 2, h);
h2 { @extend .h2; }