// Glyph font
@font-face {
  font-family: "winjs-symbols";
  src: url("#{$icon-font-path}/winjs-symbols.eot");
  src: url("#{$icon-font-path}/winjs-symbols.eot#iefix") format("embedded-opentype"),
       url("#{$icon-font-path}/winjs-symbols.ttf") format("truetype");
}

@font-face {
  font-family: "Selawik";
  src: url("#{$font-path}/selawk.eot");
  src: url("#{$font-path}/selawk.eot#iefix") format("embedded-opentype"),
       url("#{$font-path}/selawk.ttf") format("truetype");
}

@font-face {
  font-family: "Selawik Bold";
  src: url("#{$font-path}/selawkb.eot");
  src: url("#{$font-path}/selawkb.eot#iefix") format("embedded-opentype"),
       url("#{$font-path}/selawkb.ttf") format("truetype");
}

@font-face {
  font-family: "Selawik Light";
  src: url("#{$font-path}/selawkl.eot");
  src: url("#{$font-path}/selawkl.eot#iefix") format("embedded-opentype"),
       url("#{$font-path}/selawkl.ttf") format("truetype");
}

@font-face {
  font-family: "Selawik Semibold";
  src: url("#{$font-path}/selawksb.eot");
  src: url("#{$font-path}/selawksb.eot#iefix") format("embedded-opentype"),
       url("#{$font-path}/selawksb.ttf") format("truetype");
}

@font-face {
  font-family: "Selawik Semilight";
  src: url("#{$font-path}/selawksl.eot");
  src: url("#{$font-path}/selawksl.eot#iefix") format("embedded-opentype"),
       url("#{$font-path}/selawksl.ttf") format("truetype");
}

// Typography classes (.type-t*, .text-t*)
@include generate-type-class(t, 1, 9, type-t, text-t);

// Heading classes (.h*, .type-h*)
@include generate-type-class(h, 1, 6, h, type-h);

// Subheading classes (.type-sh*)
@include generate-type-class(sh, 1, 6, type-sh);

// Paragraph classes (.type-p*)
@include generate-type-class(p, 1, 4, type-p);

// Caption classes (.type-c*)
@include generate-type-class(c, 1, 2, type-c);


h1 { @extend .type-h1; }
h2 { @extend .type-h2; }
h3 { @extend .type-h3; }
h4 { @extend .type-h4; }
h5 { @extend .type-h5; }
h6 { @extend .type-h6; }

p { @extend .type-p3; }

figcaption { @extend .type-c1 }